<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>

    <form action='/search' method='get'>
      <label for='city'>City</label>
      <input type='text' name='city' id='city' />

      <label for='start-date'>Start-date</label>
      <input type='date' name='start-date' id='start-date' />

      <label for='end-date'>End-date</label>
      <input type='date' name='end-date' id='end-date' />

      <button type='submit'>Search</button>
    </form>
  </body>
</html>