<div id='form'>
  <h2>Login</h2>

  <form action='/login' method='post'>

    <label for='email'>Email</label>
    <input type='email' name='email' />

    <label for='password'>Password</label>
    <input type='password' name='password' />

    <button type='submit'>Login</button>
  </form>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>